@charset "UTF-8";
/* --------- import setting --------- */
/* ----------- color setting ----------- */
/* ----------- component setting ----------- */
/* ----------- fonts family ----------- */
@font-face {
  font-family: "NotoSansCJKtc-Black";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/NotoSansCJKtc-Black.otf);
}
@font-face {
  font-family: "NotoSansCJKtc-Bold";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/NotoSansCJKtc-Bold.otf);
}
@font-face {
  font-family: "NotoSansCJKtc-DemiLight";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/NotoSansCJKtc-DemiLight.otf);
}
@font-face {
  font-family: "NotoSansCJKtc-Light";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/NotoSansCJKtc-Light.otf);
}
@font-face {
  font-family: "NotoSansCJKtc-Medium";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/NotoSansCJKtc-Medium.otf);
}
@font-face {
  font-family: "NotoSansCJKtc-Regular";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/NotoSansCJKtc-Regular.otf);
}
@font-face {
  font-family: "NotoSansCJKtc-Thin";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/NotoSansCJKtc-Thin.otf);
}
/*  [image background]  */
/*  [ + - * / ]  */
/*  [absolute top right bottom left]  */
/*  [setting width and height]  */
/*  [setting animation] */
/*  [Clearfix]  */
/* [set base font] */
/* [setting border] */
/* line 1, ../sass/sass/base/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 8, ../sass/sass/base/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 11, ../sass/sass/base/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 14, ../sass/sass/base/_reset.sass */
audio, canvas, video {
  display: inline-block;
}

/* line 17, ../sass/sass/base/_reset.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 21, ../sass/sass/base/_reset.sass */
[hidden] {
  display: none;
}

/* line 25, ../sass/sass/base/_reset.sass */
a:focus {
  outline: thin dotted;
}
/* line 27, ../sass/sass/base/_reset.sass */
a:active, a:hover {
  outline: 0;
}

/* line 30, ../sass/sass/base/_reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 33, ../sass/sass/base/_reset.sass */
b, strong {
  font-weight: bold;
}

/* line 36, ../sass/sass/base/_reset.sass */
dfn {
  font-style: italic;
}

/* line 39, ../sass/sass/base/_reset.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 44, ../sass/sass/base/_reset.sass */
mark {
  background: #ff0;
  color: #000;
}

/* line 48, ../sass/sass/base/_reset.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 52, ../sass/sass/base/_reset.sass */
pre {
  white-space: pre-wrap;
}

/* line 55, ../sass/sass/base/_reset.sass */
q {
  quotes: "“" "”" "‘" "’";
}

/* line 58, ../sass/sass/base/_reset.sass */
small {
  font-size: 80%;
}

/* line 61, ../sass/sass/base/_reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 67, ../sass/sass/base/_reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 74, ../sass/sass/base/_reset.sass */
sub {
  bottom: -0.25em;
}

/* line 77, ../sass/sass/base/_reset.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 81, ../sass/sass/base/_reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 84, ../sass/sass/base/_reset.sass */
figure {
  margin: 0;
}

/* line 87, ../sass/sass/base/_reset.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 92, ../sass/sass/base/_reset.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 96, ../sass/sass/base/_reset.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 101, ../sass/sass/base/_reset.sass */
button, input {
  line-height: normal;
}

/* line 104, ../sass/sass/base/_reset.sass */
button, select {
  text-transform: none;
}

/* line 107, ../sass/sass/base/_reset.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 112, ../sass/sass/base/_reset.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 116, ../sass/sass/base/_reset.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 120, ../sass/sass/base/_reset.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 123, ../sass/sass/base/_reset.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 128, ../sass/sass/base/_reset.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 131, ../sass/sass/base/_reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 135, ../sass/sass/base/_reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 139, ../sass/sass/base/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 142, ../sass/sass/base/_reset.sass */
.clearfix {
  zoom: 1;
}
/* line 143, ../sass/sass/base/_reset.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 146, ../sass/sass/base/_reset.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 151, ../sass/sass/base/_reset.sass */
html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

/* line 156, ../sass/sass/base/_reset.sass */
a {
  text-decoration: none;
  color: black;
}

/* --------- base setting --------- */
/* line 10, ../sass/sass/console_index.sass */
html {
  min-height: 100%;
  overflow: auto;
}

/* line 13, ../sass/sass/console_index.sass */
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: auto;
}

/* line 20, ../sass/sass/console_index.sass */
.wrapper-content {
  width: 100%;
  height: 100%;
  display: table;
  background-image: url("../../assets/img/pattern/playstation-pattern.png");
}

/* --------- component setting --------- */
/* line 4, ../sass/sass/component/_console-header.sass */
.headerSpec {
  width: 100%;
  height: 50px;
  display: table;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -moz-box-shadow: 0 1x 2px 0 rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0 1x 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 1x 2px 0 rgba(34, 36, 38, 0.15);
}
/* line 11, ../sass/sass/component/_console-header.sass */
.headerSpec .headerLogo {
  width: 150px;
  height: 100%;
  display: inline-block;
  background-color: #5D96E8;
}
/* line 17, ../sass/sass/component/_console-header.sass */
.headerSpec .headerLogo .itemLogo {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: "NotoSansCJKtc-Bold", "Helvetica", "Arial";
  letter-spacing: 1px;
  color: #FFFFFF;
  text-align: center;
  padding: 0 15px;
  line-height: 50px;
  display: inline-block;
}
/* line 27, ../sass/sass/component/_console-header.sass */
.headerSpec .headerMenu {
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: calc(100% - 150px);
  height: 100%;
  display: table;
  float: right;
  background-color: #FFFFFF;
}
/* line 34, ../sass/sass/component/_console-header.sass */
.headerSpec .headerMenu .headerRightMenu {
  float: right;
}
/* line 37, ../sass/sass/component/_console-header.sass */
.headerSpec .headerMenu .headerRightMenu .itemDropdownPerson {
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  padding-right: 20px;
}
/* line 43, ../sass/sass/component/_console-header.sass */
.headerSpec .headerMenu .headerRightMenu .itemDropdownPerson > .menu {
  left: inherit;
  right: 5px !important;
}

/* line 5, ../sass/sass/component/_console-menu.sass */
.sliderSpec {
  width: 150px;
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);
  display: inline-block;
  float: left;
  background-color: #333A47;
}
/* line 12, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList {
  margin: 0;
  padding: 0;
}
/* line 16, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList .sliderMenuItem {
  width: 100%;
  height: 50px;
  display: inline-block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 22, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList .sliderMenuItem > a {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: normal;
  font-family: "NotoSansCJKtc-Regular", "Helvetica", "Arial";
  letter-spacing: 1px;
  color: #333A47;
  display: block;
  line-height: 50px;
  text-align: left;
  color: #FFFFFF;
  padding: 0 0 0 25px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 33, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList .sliderMenuItem:hover {
  background-color: #FFFFFF;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 37, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList .sliderMenuItem:hover > a {
  color: #5D96E8;
}
/* line 40, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList .sliderMenuItem.menuActive {
  background-color: #FFFFFF;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 44, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList .sliderMenuItem.menuActive > a {
  color: #5D96E8;
}
/* line 47, ../sass/sass/component/_console-menu.sass */
.sliderSpec .sliderList .sliderMenuItem.disable {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 6, ../sass/sass/component/_console-index.sass */
.contentSpec {
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: calc(100% - 150px);
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);
  display: inline-block;
  float: right;
  padding: 0;
}
/* line 13, ../sass/sass/component/_console-index.sass */
.contentSpec .containerSpec {
  padding: 50px;
}

/* line 1, ../sass/sass/component/_console-manager.sass */
.btnInsert {
  float: right;
  display: table;
  margin-bottom: 10px !important;
}

/* line 6, ../sass/sass/component/_console-manager.sass */
.spBtn {
  font-size: 14px;
  font-weight: 500;
  font-family: "NotoSansCJKtc-Medium", "Helvetica", "Arial";
  letter-spacing: 1px;
  color: #FFFFFF;
}
